# Игнорировать базы данных
*.db

# Игнорировать файлы модулей Go
*.mod
*.sum

# Игнорировать бинарные файлы
*.exe
*.out

# Игнорировать временные файлы и директории
*.temp
*.tmp
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Игнорировать скомпилированные файлы Go
/bin/
# Игнорировать пакеты и временные файлы
/pkg/